* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: bold;
}

.wrapper {
  margin-top: 2.5rem;
  position: relative;
}

.wrapper img {
  height: 200px;
  width: 230px;
  z-index: -1;
  position: absolute;
  filter: hue-rotate(140deg);
}

.title-text {
  position: absolute;
  left: 8rem;
  top: 8rem;
  line-height: 5rem;
}

.title {
  font-weight: bold;
  font-size: 5rem;
}

.container {
  margin: 0 28rem;
  width: 20rem;
  height: 36rem;
  border-radius: 8px;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
}

.screen {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#top {
  font-size: 2rem;
  text-align: right;
  font-weight: normal;
  color: #7d7d7d;
  border: 0;
  outline: 0;
  font-family: inherit;
  overflow: auto;
  width: 100%;
}

#bottom {
  text-align: right;
  width: 100%;
  overflow: auto;
  font-size: 3rem;
  font-weight: bold;
  border: 0;
  outline: 0;
  font-family: inherit;
}

#bottom::-webkit-scrollbar,
#top::-webkit-scrollbar {
  display: none;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  aspect-ratio: 4/5;
  grid-gap: 4px;
  padding: 4px;
  user-select: none;
}

.btn {
  padding: 0;
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
  background-color: #cbe0f5;
}

.btn:hover {
  background-color: #afd7ff;
}

.btn svg {
  pointer-events: none;
}

#decimal {
  font-weight: bold;
}

#equal-to {
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: linear-gradient(90deg, #25b5ff, #ac3bfa);
  color: #fff;
}
