.main {
    width: 25%;
    margin: 3rem auto;
    padding: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 12%);
    border-radius: 1rem;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0;
}

.counter {
    margin-top: 1.5rem;
}

#decrement-btn,
#increment-btn {
    border-radius: 50%;
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    background-color: #64b5f6a8;
}

span {
    width: 4rem;
    display: inline-block;
    text-align: center;
    border: 1px solid darkgrey;
    line-height: 2.25rem;
    margin: 0 0.5rem;
    border-radius: 4px;
}
