h1 {
    text-align: center;
    font-size: 3rem;
    font-family: system-ui;
}

.container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.slide {
    height: 20rem;
    width: 40rem;
    object-fit: cover;
    display: none;
    border-radius: 1rem;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 16%);
}

.visible {
    display: block;
}

button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #01579b;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
